.panel{
  border-radius: 10px;
  margin: 10px;
  flex: 1;
  max-height: 300px;
  box-shadow: 0 0 3px #09f;
  display: flex;
  flex-direction: column;

  .title{
    color: #fff;
  }

  header{
    height: 40px;
    text-align: left;
    padding: 10px 15px 0;
  }

  main{
    flex:1;
    position: relative;

    svg{
      position: absolute;
      left: 0;
    }
  }

  .axis {
    path, line, text{
      color: #fff;
    }
  }

  .tick{
    color: #fff;
  }

  //stackbar
  .swatches{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    font: 10px sans-serif;
    color: #fff;
    margin: 0 15px;

    .item {
      break-inside: avoid;
      display: flex;
      align-items: center;
      padding-bottom: 1px;
    }

    .label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .swatch {
      width: 10px;
      height: 10px;
      margin-right: 5px;

    }
  }
}