.panel{
  border-radius: 10px;
  margin: 10px;
  flex: 1;
  max-height: 240px;
  box-shadow: 0 0 10px #09f;
  display: flex;
  flex-direction: column;

  .title{
    color: #fff;
  }

  header{
    height: 50px;
  }

  main{
    flex:1;
    position: relative;

    svg{
      position: absolute;
      left: 0;
    }
  }
}